#main {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333
}

.pc {
    display: block;
}

.m {
    display: none;
}

.inner {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    /*position: relative;*/
}

.inner.position {
    position: relative
}

.web-banner,
.web-diff {
    position: relative;
    overflow: hidden
}

.web-banner,
.web-diff,
.web-diff .bank-content .right ul li ul {
    overflow: hidden
}

.e-header .header {
    background: none;
}

.content {
    width: 1200px;
    text-align: center;
    margin: 0 auto
}

.center-support {
    display: none
}

.header .pcst-megamenu {
    display: block;
    visibility: visible;
    margin: 0 auto 0;
    opacity: 1;
    z-index: 999;
    top: 0;
}

.header .mobilest-megamenu {
    display: block;
}

.web-banner {
    background: url("https://sc.cfygxz.com/source/www/news/centralBank/new-version/topbanner.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 480px;
    overflow: hidden;
    position: relative;
    /* margin-top: 68px; */
    padding-top: 200px;
}

.billboard {
    background: url("https://sc.cfygxz.com/source/www/news/centralBank/new-version/banner_bg.png") no-repeat;
    background-size: 100% 100%;
    height: 194px;
    width: 608px;
    position: absolute;
    padding: 20px 0px 0 50px;
    top: 328px;
    z-index: 999;
    display: flex;
    align-items: center;
}

.billboard .title {
    font-size: 3.8em;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.2em;
    margin-bottom: 25px;
}

.billboard .hr1 {
    border: 1px solid #ffffff;
    width: 50%;
    margin: 10px 0;
}

.billboard .subtitle {
    font-size: 2.8em;
    font-weight: lighter;
    color: #ffffff;
    letter-spacing: 0.1em;
}

.web-content {
    /* overflow: hidden; */
    width: 100%;
    position: relative;
}

.web-content .web-page {
    overflow: hidden;
    width: 100%;
    padding: 58px 0 97px 0;
}

.main-title {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-top: 60px;
    color: #000000;
    display: flex;
    text-align: start;
    margin-bottom: 40px;
}

.main-title img {
    width: 11px;
    height: 38px;
}

.web-banner .layout-2 {
    font-size: 22px;
    text-align: left
}

.web-time .layout-1 {
    font-size: 36px;
    color: #03435f;
    margin: 60px 0 30px
}

.web-time .yellow {
    background: #108dfb;
    font-size: 2.3em;
    border-top-left-radius: 10px;
}

.web-time table {
    text-align: center;
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.web-time table thead tr td {
    background: #094981;
    color: #fff;
    font-size: 1.8em;
    text-align: center;
    padding: 20px 0;
    font-family: Arial;
    border-right: 1px solid #cac8c8;
}

.web-time table thead tr td:last-child {
    border-top-right-radius: 10px;
    border-right: unset;
}

.web-time table thead tr .first {
    font-size: 18px;
}

.web-time table tbody tr:nth-child(2n) {
    background: #f7f7f7
}

.web-time table tbody tr td {
    font-size: 1.8em;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    border-right: 1px solid #cac8c8;
    font-family: Microsoft JhengHei;
    font-weight: 700;
    background: #f9f9f9;
}

.web-time table tbody tr:nth-child(2n) td {
    background: #f1f1f1;
}

.web-time table tbody tr td.first {
    font-size: 2.2em;
}

.web-time table tbody tr td.first {
    background: #efefef;
}

.web-time table tbody tr:nth-child(2n) td.first {
    background: #e2e1e1;
}

.web-time table tbody tr td:last-child {
    border-right: 0
}

.web-time table tbody tr:last-child td.first {
    border-bottom-left-radius: 10px;
}

.web-time table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.web-diff {
    width: 100%;
    height: 730px;
    text-align: center;
}

/* .web-diff .web-bank {
    padding: 0 55px
} */

.web-diff .web-bank ul li:first-child {
    border-top-left-radius: 10px;
}

.web-diff .web-bank ul li:last-child {
    border-top-right-radius: 10px;
}

.web-diff .web-bank ul li {
    float: left;
    width: 16.666%;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #eee;
    font-size: 24px;
    color: #03435f;
    font-weight: 700;
    background: #fff;
    cursor: pointer;
    font-family: Microsoft JhengHei;
    letter-spacing: 2px;
    border-bottom: 8px solid #e5e5e5;
}

.web-diff .web-bank ul .active {
    border-bottom: 8px solid #108dfb;
    background: #094981;
    color: #ffffff;
}

.web-diff .bank-content {
    margin-top: 35px;
    border: 1px solid #cac8c8;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 497px;
}

.web-diff .bank-content .left {
    float: left;
    width: 184px;
    background: url(//sc.cfygxz.com/source/www/news/centralBank/new-version/FED_bg.png) no-repeat;
    height: 497px;
    background-size: 100% 100%;
    /* padding-top: 13px; */
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.web-diff .bank-content .left .key-words {
    width: 128px;
    margin: 15px auto 0;
    height: 30px;
    border-radius: 5px;
    font-size: 1.4em;
    color: #fff;
    background: #09477e;
    font-family: Microsoft JhengHei;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-diff .bank-content .right {
    background: #fff;
    margin-left: 180px;
}

.web-diff .bank-content .right ul li ul li {
    float: left;
    width: 20%;
    padding: 15px 0;
    font-size: 1.4em;
    color: #ffffff;
    font-family: Microsoft JhengHei;
    letter-spacing: 2px;
    border-right: 1px solid #cac8c8;
    font-weight: 700;
}

.web-diff .bank-content .right ul li ul li {
    border-right: 0;
}

.web-diff .bank-content .right ul .text-li {
    background: #094981;
}

.web-diff .bank-content .right ul .content-li {
    border-bottom: 1px solid #cac8c8;
}

.web-diff .bank-content .right ul .content-li li {
    color: #000000;
    font-size: 1.4em;
    padding: 0 10px;
    font-family: Microsoft JhengHei;
    font-weight: 700;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .web-diff .bank-content .right ul .content-li li:first-child {
    padding: 22px 0
} */

.web-diff .bank-content .right ul .content-li li:last-child {
    border-right: 0
}

.web-diff .bank-content .right .layout-2 {
    padding: 0 37px
}

.web-diff .bank-content .right .layout-2 .item-1 {
    font-size: 24px;
    padding: 55px 0 20px;
    border-bottom: 1px solid #ccc
}

.web-diff .bank-content .right .layout-2 .item-2 {
    font-size: 18px;
    color: #333;
    text-align: left
}

.web-diff .bank-content .right .layout-2 .item-2 li {
    border-bottom: 1px solid #eee;
    padding: 10.5px 0
}

.web-diff .bank-content .right .layout-2 .item-2 li a {
    color: #333
}

.web-diff .bank-content .right .layout-2 .item-2 li img {
    margin-right: 10px
}

.web-diff .bank-content .right .layout-2 .item-2 li span {
    float: right;
    font-size: 16px;
    color: #999
}

.web-diff .bank-content .right .layout-2 .item-2 li:hover a {
    color: #003355;
}

.web-diff .bank-content .right .layout-2 .item-2 li {
    cursor: pointer;
}

.web-content .web-page.bg04 {
    background: url('//sc.cfygxz.com/source/www/news/centralBank/new-version/bg4.png') no-repeat;
    background-size: 100% 100%;
    height: 1227px;
    margin-bottom: -1px;
    width: 100%;
    display: flex;
}

.web-content .web-page.bg04 .inner .tab-pagination {
    height: 60px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 40px;
    width: 450px;
}

.web-content .web-page.bg04 .inner .tab-pagination>.tab-bullet {
    position: relative;
    flex: 1;
    line-height: 1.9em;
    font-size: 2.7em;
    text-align: center;
    letter-spacing: 2px;
    color: #5c8bb7;
    opacity: 1;
    position: relative;
    z-index: 0;
    cursor: pointer;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    display: inline;
    width: 192px;
    height: 55px;
    border: 1px solid #5c8bb7;
    border-radius: 5px;
    margin: 0 2rem;
}

.web-content .web-page.bg04 .inner .tab-pagination>.tab-bullet.active {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.tab-container .tab-slider {
    text-align: center;
}

.tab-container .tab-slider .acc-type {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.tab-container .tab-slider .acc-type .Paper_Ac {
    background: url('//img.cfd139.com/source/www/about-us/new-version/Paper_Ac_bg.png') no-repeat;
    background-size: 100% 100%;
    max-width: 528px;
    height: 610px;
    width: 100%;
}

.tab-container .tab-slider .acc-type .Paper_Ac .title {
    padding: 40px 0 10px 0;
    color: #0085ff;
    font-weight: 700;
    font-size: 3.5em;
    letter-spacing: 0.1em;
}

.tab-container .tab-slider .acc-type .Paper_Ac a {
    background-size: 100% 100%;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 2em;
    color: #ffffff;
    font-weight: 600;
    line-height: 2.3em;
    display: flex;
    justify-content: center;
    font-family: Microsoft JhengHei;
    border: unset;
    border-color: unset;
    width: 225px;
    height: 48px;
    background: linear-gradient(180deg, rgba(74, 164, 247, 1) 0%, rgba(20, 98, 169, 1) 100%);
}

.tab-container .tab-slider .acc-type .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 100px 0;
}

.tab-container .tab-slider .acc-type .item ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.tab-container .tab-slider .acc-type .item li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
}

@keyframes left-btn-animation {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.check {
    animation: left-btn-animation 1s linear infinite;
    max-width: 33.6px;
    height: auto;
    width: 100%;
}

.tab-container .tab-slider .acc-type .item li span {
    overflow: hidden;
    display: block;
    font-size: 2.5em;
    font-weight: lighter;
    padding: 0 0 0px 15px;
    letter-spacing: 0.1em;
}

.tab-container .tab-slider .acc-type .Real_Ac {
    background: url('//img.cfd139.com/source/www/about-us/new-version/Real_Ac_bg.png') no-repeat;
    background-size: 100% 100%;
    max-width: 528px;
    height: 610px;
    width: 100%;
}

.tab-container .tab-slider .acc-type .Real_Ac a {
    background-size: 100% 100%;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 2em;
    color: #ffffff;
    font-weight: 600;
    line-height: 2.3em;
    display: flex;
    justify-content: center;
    font-family: Microsoft JhengHei;
    border: unset;
    border-color: unset;
    width: 225px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 172, 0, 1) 0%, rgba(255, 136, 0, 1) 100%);
}

.tab-container .tab-slider .acc-type .Real_Ac .title {
    padding: 40px 0 10px 0;
    color: #ffac00;
    font-weight: 700;
    font-size: 3.5em;
    letter-spacing: 0.1em;
}

.tab-container .tab-slider .step {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.ipage-component-step,
.ipage-component-step[data-type=dark],
.ipage-component-step[data-type=light] {
    background: url('//sc.cfygxz.com/source/www/homepage/s8_step_bg.png');
    background-size: 100% 100%;
    max-width: 755px;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 50px 0 30px 30px;
}

.ipage-component-step .ipage-component-step-ul {}

.ipage-component-step .ipage-component-step-ul .step-item-li {
    padding-bottom: 40px;
    position: relative;
}

.ipage-component-step .ipage-component-step-ul .step-item-li::before {
    z-index: 0;
    content: "";
    position: absolute;
    left: 24.5px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #8b8989;
}

.ipage-component-step .ipage-component-step-ul .step-item-li:last-child::before {
    height: 0;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .step-item {
    display: flex;
    align-items: center;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .no-content {
    align-items: center;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .step-item .step-item-index {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    background: #8b8989;
    margin-right: 16px;
    cursor: pointer;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .step-item .step-item-content {
    flex: 1;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .step-item .step-item-content .step-item-content-title {
    font-weight: lighter;
    font-size: 1.9em;
    letter-spacing: 0.1em;
    text-align: start;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .step-item .step-item-content .step-item-content-detail {
    font-size: 14px;
    color: #a8acb1;
}

.ipage-component-step .ipage-component-step-ul .step-item-li.active .step-item .step-item-index {
    color: #ffffff;
    background: #ffab00;
}

.ipage-component-step .ipage-component-step-ul .step-item-li.active .step-item .step-item-content .step-item-content-title {
    font-weight: 600;
}

.ipage-component-step-images {
    position: absolute;
    right: -1%;
    top: -11%;
}

.ipage-component-step-images .step-item-image>img {
    max-width: 270px;
    width: 100%;
    height: auto;
}

.ipage-component-step-images .img-3 {
    position: relative;
}

.ipage-component-step-images .img-3 .grade-cust {
    position: absolute;
    top: 125px;
    left: -50px;
}

.ipage-component-step-images .img-3 .grade-cust>img {
    width: 387px;
    height: auto;
}

.tab-container {
    margin-bottom: 80px;
}

.tab-container .tab-slider .btn-open {
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tab-container .tab-slider .btn-open a {
    background-color: transparent;
    border: 1px solid;
    background-size: 100% 100%;
    border-color: #ffffff;
    width: 246px;
    height: 45px;
    margin: 0 10px;
    border-radius: 4px;
    font-size: 2em;
    color: #ffffff;
    font-weight: 600;
    line-height: 2.2em;
    display: flex;
    justify-content: center;
    font-family: Microsoft JhengHei;
}

.tab-container .tab-slider .btn-open a:first-child:hover {
    background-color: #ffffff;
    border: 1px solid;
    background-size: 100% 100%;
    border-color: #ffffff;
    color: #063584;
}

.tab-container .tab-slider .btn-open a:last-child {
    border: unset;
    border-color: unset;
    width: 180px;
    height: 45px;
    background: linear-gradient(180deg, rgba(255, 172, 0, 1) 0%, rgba(255, 136, 0, 1) 100%);
}

.btn-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    position: relative;
}

.btn-container .icon {
    /* position: relative; */
}

.btn-container>img {
    max-width: 277px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.btn-container a>img {
    cursor: pointer;
}

.App_code {
    overflow: hidden;
    position: absolute;
    width: 100px;
}

.App_code img {
    width: 100px;
    height: 100px;
}

.App_code span {
    overflow: hidden;
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid #000000;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-left: 6px solid rgba(0, 0, 0, 0);
}

.App_code.ios-CFD {
    display: none;
    left: 15%;
    bottom: -106px;
}

.App_code.android-CFD {
    display: none;
    bottom: -106px;
    left: 42%;
}

.web-content .web-page.bg05 {
    background: #60646a;
    height: 0;
}

.left-title .main-title {
    border-left: 10px solid #ffac00;
    font-size: 4em;
    color: #ffffff;
    letter-spacing: 0.2em;
    margin: 0;
}

.left-title .sub-title {
    font-size: 2.5em;
    color: #ffffff;
    letter-spacing: 0.2em;
    font-weight: lighter;
    margin-top: 15px;
}

.left-title {
    padding-right: 30px;
}

.box {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
}

.box .menu {
    background: url("https://sc.cfygxz.com/source/www/about-us/new-version/bg05_menu.png") no-repeat;
    background-size: 100% 100%;
    max-width: 1107px;
    width: 100%;
    height: 312px;
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-menu {
    width: 40%;
    padding-left: 30px;
}

.right-menu a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-menu hr {
    width: 67%;
    margin: 10px auto;
}

.right-menu a span {
    font-size: 2.4em;
    color: #ffffff;
    letter-spacing: 0.2em;
    font-weight: lighter;
}

.right-menu a:hover {
    transform: scale(1.1);
}

.right-menu a img {
    width: 13px;
    height: 21px;
}

/* .right-menu a img:hover{
    transform: scale(1.1);
} */

@media (max-width: 1400px) {
    .inner {
        width: 90%
    }
}

/* For Mobile Version */
@media screen and (max-width: 799px) {
    html {
        font-size: 4rem;
    }

    .main {
        overflow: hidden;
    }

    .pc {
        display: none;
    }

    .m {
        display: block;
    }

    .main-header {
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
    }

    .m-header {
        position: absolute;
        z-index: 999;
        top: 1rem;
        width: 100%;
        height: 1rem;
        border-bottom: unset;
        background-color: #ffffff;
    }

    /* navigation bar for mobile */
    .menu {
        width: 285px;
        background: #093965;
        position: relative;
    }

    .menu .head {
        padding-top: 0.4rem;
        font-size: 0;
        padding-bottom: 0.4rem;
        text-align: right;
    }

    .menu .head span {
        margin-right: 0.2rem;
        display: block;
        display: inline-block;
        background: url(//sc.cfygxz.com/source/www/homepage/m/close_btn.png);
        background-size: 100% 100%;
        width: 0.36rem;
        height: 0.37rem;
    }

    .menu .head a {
        margin: 0 auto;
        display: block;
        font-size: 0.32rem;
        width: 215px;
        background-color: #0096dc;
        color: #fff;
        text-align: center;
        line-height: 0.7rem;
        margin-top: 0.2rem;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: 0.01rem solid transparent;
        border-radius: 0.06rem;
    }

    .menu .head a:active {
        background-color: #0088c8;
    }

    .menu .expmenu li {
        position: relative;
        background: #ffffff;
        border-top: 0.05rem solid #093965;
        border-bottom: 0.05rem solid #093965;
    }

    .menu .expmenu li a {
        color: #093965;
        font-size: 0.4rem;
        height: 0.89rem;
        line-height: 0.89rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: Microsoft JhengHei;
        position: relative;
        font-weight: 700;
        border-top: unset;
    }

    .menu .expmenu li a p {
        width: 65%;
        padding-left: 12%;
    }

    .menu .expmenu li i.limit-time-icon {
        position: absolute;
        background: url(//sc.cfygxz.com/source/www/homepage/m/limit_time_icon.png) no-repeat;
        background-size: 100% 100%;
        width: 0.94rem;
        height: 0.38rem;
        top: unset;
        margin-right: 0;
        left: 2.4rem;
        animation: lighting 6s infinite;
    }

    .menu .expmenu li i.new-icon {
        position: absolute;
        background: url(//sc.cfygxz.com/source/www/homepage/m/new_icon.png) no-repeat;
        background-size: 100% 100%;
        width: 0.94rem;
        height: 0.38rem;
        top: unset;
        margin-right: 0;
        left: 2.4rem;
    }

    .menu .expmenu li:before {
        border-left: 0.1rem solid transparent;
        content: "";
        height: 0.89rem;
        left: 0;
        position: absolute;
        top: 0;
        -webkit-transition: border-color 0.3s ease;
        transition: border-color 0.3s ease;
    }

    .menu .expmenu li i {
        display: inline-block;
        position: relative;
        top: 0.2rem;
        margin-right: 0.1rem;
    }

    .menu .expmenu li span {
        background-image: url(//sc.cfygxz.com/source/www/homepage/m/plus_icon.png);
        width: 0.36rem;
        height: 0.36rem;
        background-size: 100% 100%;
        margin-right: 0.25rem;
    }

    .menu .expmenu li .down,
    .menu .expmenu li span {
        display: inline-block;
        background-image: url(//sc.cfygxz.com/source/www/homepage/m/plus_icon.png);
        width: 0.36rem;
        height: 0.36rem;
        background-size: 100% 100%;
        background-position: unset;
        margin-right: 0.25rem;
    }

    .menu .expmenu li .down {
        background-image: url(//sc.cfygxz.com/source/www/homepage/m/minus_icon.png);
        width: 0.36rem;
        height: 0.06rem;
    }

    @keyframes lighting {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    .menu .expmenu li ul {
        display: none;
    }

    .menu .expmenu li ul li a {
        display: block;
        border-top: none;
        border-bottom: none;
        margin: 0 auto;
        padding-left: 0.8rem;
        height: 0.7rem;
        line-height: 0.7rem;
        background-color: #093965;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #ffffff;
        font-family: Microsoft JhengHei;
        font-weight: 100;
        font-size: 0.32rem;
    }

    .menu .expmenu li ul li a:active {
        background: #dfdfdf;
    }

    /* .menu .expmenu li ul li:first-child {
      border-top: 0.01rem solid #eee;
    } */

    .menu .expmenu .fifth p,
    .menu .expmenu .first p,
    .menu .expmenu .forth p,
    .menu .expmenu .second p,
    .menu .expmenu .third p {
        width: 87%;
    }

    .menu .expmenu>li.current:before {
        border-color: #ffffff;
    }

    .menu .expmenu>li.current a p {
        color: #0958a2;
    }

    .menu .bottom_btn {
        border-top: unset;
        text-align: center;
        margin-bottom: 1rem;
    }

    .menu .bottom_btn a:first-child {
        background: linear-gradient(180deg, rgba(255, 172, 0, 1) 0%, rgba(255, 136, 0, 1) 100%);
        border: unset;
        margin-top: 1rem;
    }

    .menu .bottom_btn a {
        width: 3.6rem;
        margin: 0.5rem auto;
        height: 0.77rem;
        line-height: 0.77rem;
        display: block;
        color: #ffffff;
        font-size: 0.35rem;
        border: 0.01rem solid #ffffff;
        border-radius: 0.06rem;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        font-family: Microsoft JhengHei;
        font-weight: 700;
        letter-spacing: 0.02rem;
    }



    /* .menu .bottom_btn a:active {
      background: #035;
      color: #fff;
      border: 0.01rem solid #035;
    } */

    .panel {
        /* height: 100%; */
        position: relative;
    }

    .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        overflow: auto;
        z-index: 0;
        display: none;
        padding-bottom: 1rem;
    }

    .slideout-menu-left {
        left: 0;
    }

    .slideout-menu-right {
        right: 0;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        padding-bottom: 0;
    }

    .slideout-open,
    .slideout-open .slideout-panel,
    .slideout-open body {
        overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
    }

    .menu .expmenu li ul li p {
        border-top: none;
        border-bottom: none;
        margin: 0 auto;
        padding-left: 0.8rem;
        height: 0.7rem;
        line-height: 0.7rem;
        color: #fecd69;
        font-family: Microsoft JhengHei;
        font-weight: 100;
        font-size: 0.32rem;
    }

    .menu .expmenu li ul li.sub-menu-nav {
        background: #093965;
        border-top: unset;
    }

    .menu .expmenu li ul li.sub-menu-nav ul.sub-child2 {
        display: block !important;
    }

    .menu .expmenu li ul li ul.sub-child2 li {
        background: #093965;
        border-top: unset;
    }

    .menu .expmenu li ul li ul.sub-child2 li a {
        padding-left: 0rem;
        height: 0.4rem;
        line-height: 0.4rem;
    }


    /*End navigation bar for mobile */
    .web-banner {
        background: url("https://sc.cfygxz.com/source/www/news/centralBank/m/topbanner.png") no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 6.64rem;
        overflow: hidden;
        position: relative;
    }

    .billboard {
        background: url("https://sc.cfygxz.com/source/www/about-us/m/banner_bg.png") no-repeat;
        background-size: 100% 100%;
        height: 1.94rem;
        width: 5.6rem;
        position: absolute;
        padding: 0 0 0 0.5rem;
        top: 5.65rem;
        left: 0.15rem;
        z-index: 99;
        display: flex;
        align-items: baseline;
        flex-flow: column;
        justify-content: center;
    }

    .billboard .title {
        font-size: 0.55rem;
        margin: 0;
    }

    .billboard .hr1 {
        border: 1px solid #ffffff;
        width: 80%;
        margin: 0.1rem 0;
    }

    .billboard .subtitle {
        font-size: 0.35rem;
    }

    .main-title {
        font-size: 0.4rem;
        margin: 1.5rem 0 .6rem 0;
    }

    /* central bank table */
    .layout-2 {
        width: 100%;
        overflow-x: scroll;
    }

    .layout-2 table {
        max-width: 20rem;
        width: 20rem;
        min-width: 20rem;
        overflow-x: scroll;
        margin: unset;
    }


    .web-time .yellow {
        font-size: 0.25rem;
    }

    .web-time table thead tr td {
        font-size: 0.25rem;
    }

    .web-time table tbody tr td.first {
        font-size: 0.25rem;
    }

    .web-time table tbody tr td {
        font-size: 0.25rem;
    }

    /* web-bank  */

    .web-diff{
        height: auto;
        margin-bottom: 1rem;
    }

    .web-diff .web-bank ul li:first-child {
        border-top-left-radius: 5px;
    }

    .web-diff .web-bank ul li:last-child {
        border-top-right-radius: 5px;
    }

    .web-diff .web-bank ul .active {
        border-bottom: none;
    }

    .web-diff .web-bank ul li {
        font-size: 0.3rem;
        width: 30%;
        border-radius: 5px;
        margin: 0.2rem auto;
        border-bottom: 1px solid #cac8c8;
        border: 1px solid #cac8c8;
        padding: 0.15rem;
    }

    .web-bank ul {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .web-diff .bank-content .left .key-words{
        font-size: 0.23rem;
    }

    .web-diff .bank-content .right ul li ul li{
        font-size: 0.23rem;
    }

    .web-diff .bank-content .right ul .content-li li{
        font-size: 0.23rem;
    }

    .web-diff .bank-content{
        height: 4.97rem;
        margin: 0.8rem 0 0 0;
        display: flex;
        border-bottom-right-radius: 0;
    }


    .web-diff .bank-content .left{
        width: 1.84rem;
        height: 4.97rem;
        flex-basis: 20%;
    }

    .web-diff .bank-content .left .key-words{
        width: 1.28rem;
        height: 0.3rem;
        font-size: 0.2rem;
    }

    .web-diff .bank-content .right{
        margin-left: 0;
        overflow-x: scroll;
        flex-basis: 80%;
        border-bottom: 1px solid #cac8c8;
    }

    .web-diff .bank-content .right .layout-1{
        width: 15rem;
        max-width: 15rem;
        min-width: 15rem;
    }

    /* promotion panel */
    .promotion-panel p {
        font-size: 0.25rem;
        text-align: left;
        font-weight: bolder;
        /* letter-spacing: 0.1em; */
        font-family: Microsoft JhengHei;
        color: #ffffff;
    }

    .promotion-panel a {
        font-size: 0.3rem;
        width: 2.28rem;
        height: 0.55rem;
        line-height: 0;
        align-items: center;
        margin: 0 10px;
        border-radius: 4px;
        color: #ffffff;
        font-weight: 600;
        display: flex;
        justify-content: center;
        font-family: Microsoft JhengHei;
        border: unset;
        border-color: unset;
        background: linear-gradient(180deg, rgba(255, 172, 0, 1) 0%, rgba(255, 136, 0, 1) 100%);
    }

    .box {
        padding: 0 0 1rem 0;
        display: flex;
        justify-content: center;
        max-width: 1920px;
        width: 100%;
    }

    .box .promotion-panel {
        position: relative;
        background: url(//sc.cfygxz.com/source/www/product/forex/m/promo_bg.png) no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
        width: 7.05rem;
        z-index: 99;
        height: 1.1rem;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 0.15rem;
    }
}

@media (max-width: 600px) {
    .web-diff .bank-content .left{
        width: 1.84rem;
        height: 4.97rem;
        flex-basis: 31%;
    }
    
    .web-diff .bank-content .left .key-words{
        width: 1.28rem;
        height: 0.3rem;
        font-size: 0.2rem;
    }
    
    .web-diff .bank-content .right{
        margin-left: 0;
        overflow-x: scroll;
        flex-basis: 69%;
        border-bottom: 1px solid #cac8c8;
    }
}
