.top-banner {
    position: relative;
    margin-top: -76px;
    background: #1c4560;
    line-height: 0;
}

.top-banner .img-banner-indices {
    display: block;
    height: 350px;
    background: url(//sc.cfygxz.com/source/www/product/intro-ind/top-banner.jpg) top center no-repeat;
    background-size: cover !important;
}
.top-banner .img-banner-indices .title-banner {
    font-size: 3.6em;
    line-height: 1.6;
    color: #FFFFFF;
    text-align: left;
    padding-top: 194px;
}

.top-banner .img-banner-indices .sub-title {
    font-size: 2.4em;
    line-height: 1.8;
    color: #FFFFFF;
    padding-bottom: 70px;
}
.top-banner .img-banner{
    display: block;
    height: 350px;
    background: url(//sc.cfygxz.com/source/www/product/forex/banner.jpg) top center no-repeat;
    background-size: cover !important;
}

.top-banner .img-banner .title-banner {
    font-size: 3.6em;
    line-height: 1.6;
    color: #FFFFFF;
    text-align: left;
    padding-top: 194px;
}

.top-banner .img-banner .sub-title {
    font-size: 2.4em;
    line-height: 1.8;
    color: #FFFFFF;
    padding-bottom: 70px;
}
.top-banner .img-banner-commodities {
    display: block;
    height: 350px;
    background: url(//sc.cfygxz.com/source/www/product/comodities/banner.jpg) top center no-repeat;
    background-size: cover !important;
}

.top-banner .img-banner-commodities .title-banner {
    font-size: 3.6em;
    line-height: 1.6;
    color: #FFFFFF;
    text-align: left;
    padding-top: 194px;
}

.top-banner .img-banner-commodities .sub-title {
    font-size: 2.4em;
    line-height: 1.8;
    color: #FFFFFF;
    padding-bottom: 70px;
}
.article > .main-links {
    border-bottom: 1px solid #CCCCCC;
}

.article h2.main-title {
    font-size: 3.6em;
    color: #035B83;
    line-height: 1.8;
    text-align: left;
}

.article h2.main-titlesm {
    font-size: 2.4em;
    line-height: 1;
    color: #666666;
    margin-bottom: 40px;
}

.article h3.sub-title {
    color: #666666;
    font-size: 1.6em;
    line-height: 1.8;
    margin-bottom: 20px;
    padding-top: 30px;
}

.article h3.sub-title a {
    display: inline-block;
    color: #0096DB;
    font-size: 1em;
    position: relative;
    color: #0099cc;
    margin-left: 5px;
}

.article h3.sub-title a:after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 10px;
    top: 12px;
    right: -14px;
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/arrow.png) center no-repeat;
    transition: all .15s ease-in;
}

.article h3.sub-title a:hover:after {
    right: -17px;
}

.link-box {
    width: 600px;
    margin-bottom: -1px;
    margin-top: 10px;
}

.link-box li {
    float: left;
    width: 25%;
}

.link-box li a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: left;
    padding-left: 21%;
    font-size: 1.6em;
    color: #666666;
    outline: none;
}

.link-box li.active a {
    border-bottom: 3px solid #035B83;
    color: #035B83;
    cursor: default;
}

.link-box .ic-all {
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/icon-1.png) 10% center no-repeat;
}

.link-box .ic-all.active {
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/icon-1.png) 10% center no-repeat;
}

.link-box .ic-circle {
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/grid-ic.png) 10% center no-repeat;
}

.link-box .ic-circle.active {
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/grid-ic.png) 10% center no-repeat;
}

.link-box .ic-book {
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/note-ic.png) 10% center no-repeat;
}

.link-box .ic-book.active {
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/note-ic.png) 10% center no-repeat;
}
.link-box .ic-Js {
    background: url(//sc.cfygxz.com/source/www/product/counter/icon-img03.png) 10% center no-repeat;
}
.link-box .ic-Js.active{
    background: url(//sc.cfygxz.com/source/www/product/counter/icon-img04.png) 10% center no-repeat;
}
.main-article {
    padding: 40px 0 0 0;
}

.main-article .item-wrapper {
    position: relative;
}

.main-article .item-wrapper li.line {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: #CCCCCC;
    bottom: 2px;
    position: absolute;
    z-index: 0;
    border: none;
}

.main-article .item-wrapper li.line:hover {
    border: none;
}

.main-article .item-wrapper li {
    position: relative;
    z-index: 29;
    float: left;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #CCCCCC;
}

.main-article .item-wrapper li a {
    font-size: 1.6em;
    color: #333333;
    display: inline-block;
    width: 153px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.main-article .item-wrapper li:hover {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #FFFFFF;
}

.main-article .item-wrapper li.active {
    border-top: 3px solid #035B83;
    border-bottom: 1px solid #FFFFFF;
    background: #fff;
}

.main-article .item-wrapper li.active a {
    color: #035B83;
    cursor: default;
}

 .itemds-wrapp .note {
    font-size: 1.4em;
    line-height: 1.8;
    color: #666666;
    float: right;
    padding-top: 15px;
}

.main-article .itemdt-wrapp .note a {
    color: #666666;
    transition: all .15s;
}

.contract-indices table th {
    width: 16.66%;
}

.cfdcontract-indices table th {
    width: 14.285%;
}

.last-list{
    margin-top: 60px;
}
/*.contract-commo table th {*/
    /*width: 14.285%;*/
/*}*/
.second-list{
    border-top:1px solid #ccc;
}
table#product {
    width: 100%;
    text-align: center;
    /*border: 0 !important;*/
    font-size: 1.6em;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #cccccc;
}

table#product thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table#product thead th {
    text-align: center;
    padding: 15px;
    color: #035B83;
}

table#product tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table#product tbody td {
    text-align: center;
    color: #333333;
    border-bottom: 0;
    padding: 15px;
    font-size: 1.13em;
    border-top: 1px solid #CCCCCC;
    font-family: Myriad, "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
}

table#product tbody .unit {
    font-size: 0.8em;
}

table#product tbody tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background: #FFFFFF;
}

table#product tbody tr:hover td {
    background: #e5f5fa;
    border-top-color: #035B83;
}
table#product tbody tr:hover td.special {
    background: #fff;
    border-top-color: #035B83;
}

table#product tbody tr:hover + tr td {
    border-top-color: #035B83;
}

table#product tbody tr.last-row td {
    border-bottom: 1px solid #CCCCCC;
}


table#product tbody tr.last-row:hover td {
    border-bottom-color: #035B83;
}

table#product .first-child {
    text-align: left;
    font-size: 1em;
}

table#product .first-child a {
    color: #666666;
}

.section2 .cfd-detail {
    margin: 30px 0 10px;
    font-size: 1.6em;
    color: #333333;
}

.section2 .cfd-detail a {
    color: #0096DB;
    transition: all .15s ease-in;
}

.section2 .cfd-detail a:hover {
    color: #0096dc;
}

.section2 .cfd-detail a.arrow-ic {
    position: relative;
    margin-right: 12px;
    top: 1px;
    width: 13px;
    height: 14px;
    display: inline-block;
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/arrow-downhv.png) left center no-repeat;
}

.section2 .cfd-detail img {
    margin-right: 12px;
    position: relative;
    top: 1px;
}

.section2 .faq-link {
    margin-bottom: 39px;
    font-size: 1.6em;
    color: #333333;
}

.section2 .faq-link a {
    color: #0096DB;
    transition: all .15s;
}

.section2 .faq-link a:hover {
    color: #0096dc;
}

.section2 .faq-link a.question-ic {
    position: relative;
    margin-right: 10px;
    top: 2px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/question-ichv.png) left center no-repeat;
}

.section2 .faq-link img {
    margin-right: 12px;
    position: relative;
    top: 2px;
}

.section2 .view-more {
    font-size: 1.6em;
    display: block;
    text-align: center;
    width: 180px;
    height: 32px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0 auto;
    background: #0096DB;
    margin-bottom: 59px;
    transition: all .15s ease-in;
}

.section2 .view-more:hover {
    background: #03354C;
}

.section3 .main-title {
    margin-bottom: 15px;
}

.section3 ul {
    margin-bottom: 80px;
}

.section3 ul li {
    padding-top: 16px;
    float: left;
    width: 21.25%;
    margin-right: 5%;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    min-height: 212px;
    position: relative;
}

.section3 ul .last-child {
    margin-right: 0;
}

.section3 ul p {
    font-size: 1.6em;
    text-align: justify;
    margin-bottom: 31px;
    min-height: 89px;
    line-height: 1.8;
}

.section3 ul a {
    display: block;
    float: right;
    font-size: 1.6em;
    margin-bottom: 18px;
    color: #0096DB;
    padding-right: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.section3 ul a:after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    position: absolute;
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/arrow.png) center no-repeat;
    top: 7px;
    right: 2px;
    transition: all .15s ease-in;
}

.section3 ul a:hover:after {
    right: -3px;
}

.section3 h3 {
    font-size: 2.0em;
    color: #035B83;
    margin-bottom: 10px;
}

.section4 {
    background: url(//sc.cfygxz.com/source/www/product/contract-detail/bg-nav.png) center no-repeat;
    height: 556px;
    padding: 80px 0 0 0;
}

.section4 h2 {
    font-size: 3.6em;
    line-height: 2.0;
    color: #035B83;
}

.section4 p {
    font-size: 2.4em;
    line-height: 2.0;
    color: #666666;
}

.section4 .row {
    margin-top: 30px;
}

.section4 .register {
    width: 100%;
    height: 236px;
    margin: 0 auto;
    position: relative;
}

.section4 .register .user-box {
    height: 250px;
    width: 150px;
    position: absolute;
    text-align: center;
    left: 9%;
    top: 50%;
    border: 1px solid #AFB3B5;
    margin-top: -125px;
}

.section4 .register p {
    text-align: center;
    padding-top: 12%;
    color: #035B83;
    font-size: 2.0em;
}

.section4 .register a {
    float: right;
    clear: both;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 32px;
    font-size: 1.6em;
    line-height: 32px;
    background: #0096DB;
    text-align: center;
    color: #fff;
}

.section4 .register a.child-bott {
    clear: both;
}

.section4 .register .link-box {
    width: 40%;
    position: absolute;
    top: 25%;
    right: 11%;
}

.section4 .devices {
    width: 100%;
    height: 236px;
    margin: 0 auto;
    position: relative;
}

.section4 .devices .lap-box {
    height: 250px;
    width: 150px;
    position: absolute;
    text-align: center;
    left: 9%;
    top: 50%;
    border: 1px solid #AFB3B5;
    margin-top: -125px;
}

.section4 .devices p {
    text-align: center;
    padding-top: 12%;
    color: #035B83;
    font-size: 2.0em;
}

.section4 .devices a {
    float: right;
    clear: both;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 32px;
    font-size: 1.6em;
    line-height: 32px;
    background: #0096DB;
    text-align: center;
    color: #fff;
}

.section4 .devices a.child-bott {
    clear: both;
}

.section4 .devices .link-box {
    width: 40%;
    position: absolute;
    top: 15%;
    left: 42.5%;
}

.section4 a {
    transition: all .15s ease-in;
}

.section4 a:hover {
    background: #03354C;
}

.section5 {
    padding: 40px 0;
}

.section5 p {
    font-size: 1.4em;
    line-height: 2.0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.hot {
    color: #C80000;
}

@media (min-width: 720px) {
    .section4 .register .link-box {
        width: 35%;
        position: absolute;
        top: 32%;
        right: 16%;
    }
    .section4 .devices .link-box {
        width: 35%;
        position: absolute;
        top: 22%;
        left: 63%;
    }
}

@media (min-width: 1024px) {
    .section4 .register .link-box {
        width: 50%;
        position: absolute;
        top: 32%;
        right: 16%;
    }
    .section4 .devices .link-box {
        width: 50%;
        position: absolute;
        top: 22%;
        left: 63%;
    }
    .section3 ul li {
        min-height: 282px;
    }
}

@media (min-width: 1280px) {
    .section4 .register .link-box {
        width: 40%;
        position: absolute;
        top: 32%;
        right: 13%;
    }
    .section4 .devices .link-box {
        width: 40%;
        position: absolute;
        left: 51%;
        top: 22%;
    }
    .section3 ul li {
        min-height: 220px;
    }
}

@media (min-width: 1367px) {
    .section4 .register .link-box {
        width: 34.48%;
        position: absolute;
        top: 32%;
        right: 16%;
    }
    .section4 .devices .link-box {
        width: 34.48%;
        position: absolute;
        top: 22%;
        left: 53.5%;
    }
}

@media (min-width: 1920px) {
    .section4 .register .link-box {
        width: 33.33%;
        position: absolute;
        top: 32%;
        right: 11%;
    }
    .section4 .devices .link-box {
        width: 33.33%;
        position: absolute;
        top: 22%;
        left: 42.5%;
    }
}


/*# sourceMappingURL=contract-detail.css.map */
