#footer .right-nav .icon .left-icon .list-icon {
    width: 25%!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}