#main {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    overflow: hidden;
}

.pc {
    display: block;
}

.m {
    display: none;
}

.inner {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    /*position: relative;*/
}

.inner.position {
    position: relative
}

img {
    overflow: hidden;
    display: block;
    border: none;
}

.e-header .header {
    background: none;
}

.center-support {
    display: none
}

.header .pcst-megamenu {
    display: block;
    visibility: visible;
    margin: 0 auto 0;
    opacity: 1;
    z-index: 999;
    top: 0;
}

.header .mobilest-megamenu {
    display: block;
}

.web-banner {
    background: url("https://sc.cfygxz.com/source/www/product/forex/new-version/topbanner.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 480px;
    overflow: hidden;
    position: relative;
    /* margin-top: 68px; */
    padding-top: 200px;
}

.billboard {
    background: url("https://sc.cfygxz.com/source/www/product/forex/new-version/banner_bg.png") no-repeat;
    background-size: 100% 100%;
    height: 194px;
    width: 608px;
    position: absolute;
    padding: 30px 0px 0 50px;
    top: 328px;
    z-index: 999;
    display: flex;
    align-items: center;
}

.billboard .title {
    font-size: 3.8em;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.2em;
    margin-bottom: 25px;
}

.billboard .subtitle {
    font-size: 2.8em;
    font-weight: lighter;
    color: #ffffff;
    letter-spacing: 0.1em;
}

.web-content {
    /* overflow: hidden; */
    width: 100%;
    position: relative;
}

.web-content .web-page {
    overflow: hidden;
    width: 100%;
    padding: 58px 0 97px 0;
}

.web-content .web-page.bg01 {
    background: #ffffff;
}

.web-content .web-page.bg05 {
    background: #ffffff;
    padding: 50px 0 97px 0;
    height: 250px;
}


.main-title {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #000000;
    display: flex;
    text-align: start;
    margin: 60px 0 10px 0;
}

.main-title img {
    width: 11px;
    height: 38px;
}

.sub-title {
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.1em;
    padding: 15px 0;
    font-family: Microsoft JhengHei;
}

.forex-icon {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px
}

.icon-bg {
    max-width: 267px;
    width: 100%;
    height: 261px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px 10px 30px;
}

.odd-bg {
    background: url('https://sc.cfygxz.com/source/www/product/forex/new-version/odd_bg.png') no-repeat;
    background-size: 100% 100%;
}

.even-bg {
    background: url('https://sc.cfygxz.com/source/www/product/forex/new-version/even_bg.png') no-repeat;
    background-size: 100% 100%;
}

.odd-bg .icon1 {
    max-width: 90px;
    width: 100%;
    height: auto;
}

.odd-bg .icon3 {
    max-width: 104px;
    width: 100%;
    height: auto;
}

.even-bg .icon2 {
    max-width: 79px;
    width: 100%;
    height: auto;
}

.even-bg .icon4 {
    max-width: 78px;
    width: 100%;
    height: auto;
}

.main-pros {
    color: #ffffff;
    font-family: Microsoft JhengHei;
    font-size: 2.1em;
    font-weight: 700;
    text-align: center;
}

.sub-pros {
    color: #ffffff;
    font-family: Microsoft JhengHei;
    font-size: 1.4em;
    font-weight: lighter;
    text-align: center;
}

.more-details {
    color: #d2bf1f;
    text-align: center;
    font-size: 1.4em;
    font-family: Microsoft JhengHei;
    letter-spacing: 0.1em;
    text-decoration: underline;
}


.forex-icon .icon-bg img {
    margin: 0 auto;
}

.forex-icon .icon-bg p:first {
    margin-top: 15px;
}

/* Begin bg02 */
.bg02 {
    background: url('https://sc.cfygxz.com/source/www/product/forex/new-version/bg02.png') no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    height: 113px;
    padding: 0;
}

.bg02 .inner {
    overflow: hidden;
}

.bg02 .inner .company {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.bg02 .inner .company .company-reward-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg02 .inner .company .company-reward-block .pc {
    display: flex;
}

.bg02 .inner .company .company-reward-block .m {
    display: none;
}

.bg02 .inner .company .company-reward-block img {
    max-width: 128px;
    width: 100%;
    height: auto;
    margin: 0 20px;
}

.bg02 .inner .company .company-status-block {
    display: flex;
    justify-content: space-evenly;
}

.bg02 .inner .company .company-status-block .line {
    margin: 0 45px;
}

.bg02 .inner .company .company-status-block .total-cust,
.bg02 .inner .company .company-status-block .status-year {
    color: #ffffff;
}

.bg02 .inner .company .company-status-block .total-cust .subtotal,
.bg02 .inner .company .company-status-block .status-year .subtotal {
    font-size: 4em;
    display: inline-flex;
    align-items: baseline;
}

.bg02 .inner .company .company-status-block .total-cust .subtotal .num,
.bg02 .inner .company .company-status-block .status-year .subtotal .num {
    font-weight: 900;
    font-family: sans-serif;
    margin-right: 3px;
}

.bg02 .inner .company .company-status-block .total-cust .subtotal .icon {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.bg02 .inner .company .company-status-block .total-cust .subtotal-title,
.bg02 .inner .company .company-status-block .status-year .subtotal-title {
    font-size: 1.4em;
    letter-spacing: 1px;
    padding-left: 5px;
    font-family: Microsoft JhengHei;
    font-weight: 700;
}

/* End bg02 */

/* Begin bg03 */
.btn-container-fixed {
    position: relative;
    overflow: unset !important;
    margin-bottom: 70px;
}

.bg03 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.bg03 .left-content {
    flex-basis: 45%;
    margin: 0 auto;
}

.bg03 .right-content {
    flex-basis: 45%;
    margin: 0 auto;
}

.bg03 .left-content .CFD-pros {
    margin: 10px 0 40px 0;
}

.bg03 .left-content .CFD-pros>div {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    padding-right: 6%;
    margin: 5px 0;
}

.bg03 .left-content .main-title {
    margin: 0 0 20px 0;
}

.bg03 .left-content .CFD-pros>div img {
    width: 41px;
    height: 41px;
    margin: 0 auto;
}

.pro_content {
    font-size: 2em;
    color: #000000;
    letter-spacing: 0.2em;
    font-family: Microsoft YaHei;
    /* font-weight: 700; */
    padding-left: 10px;
    white-space: nowrap;
}

.bg03 .left-content .CFD-pros .pro4 {
    padding-left: 3%;
}

.bg03 .left-content a {
    letter-spacing: 0.1em;
    border-radius: 4px;
    font-size: 2em;
    color: #ffffff;
    font-weight: 600;
    line-height: 2.2em;
    display: flex;
    justify-content: center;
    font-family: Microsoft JhengHei;
    border: unset;
    border-color: unset;
    width: 203px;
    height: 43px;
    background: linear-gradient(180deg, rgba(74, 164, 247, 1) 0%, rgba(20, 98, 169, 1) 100%);
}

.btn-container2 {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    bottom: 30px;
}

.btn-container2>img {
    max-width: 277px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.App_code2 {
    overflow: hidden;
    position: absolute;
    width: 100px;
    z-index: 999;
}

.App_code2 img {
    width: 100px;
    height: 100px;
}

.App_code2 span {
    overflow: hidden;
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid #fff;
    border-left: 6px solid rgba(0, 0, 0, 0);
}

.App_code2.ios-CFD {
    display: none;
    left: 28%;
    bottom: -65px;
}

.App_code2.android-CFD {
    display: none;
    bottom: -65px;
    left: 50%;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 30px 0;
}

.right-content .device-CFD {
    position: relative;
    margin-top: 90px;
}

.right-content .device-CFD .s4_phone {
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: 0;
}

.right-content .device-CFD .s4_macbook {
    z-index: 1;
}

/* End bg03 */

/* Begin bg04 */
.bg04 {
    background: #f4f4f5;
}

.bg04 .inner .main-title {
    margin: 20px 0 10px 0;
}

.faq {
    margin-top: 30px;
}

.faq a {
    cursor: pointer;
    text-decoration: none;
}

.faq .img-qs1 {
    width: 68%;
    margin: 45px auto;
    display: block;
}

.article-question1 {
    font-size: 2em;
    margin: 0;
    position: relative;
    padding: 15px 0;
    padding-right: 80px;
    display: block;
    color: #3391e7;
    text-decoration: none;
}

.article-question {
    font-size: 2em;
    margin: 0;
    font-family: Microsoft JhengHei;
    font-weight: 700;
    position: relative;
    padding: 15px 0;
    padding-right: 80px;
    display: block;
    text-decoration: none;
    border-bottom: unset;
}

.article-question:hover {
    color: #3391e7;
}

.article-question.collapsed:after {
    transform: rotate(0);
}

.article-question:after {
    content: url('https://sc.cfygxz.com/source/www/product/forex/new-version/forex_arrow.png');
    position: absolute;
    transform: rotate(90deg);
    right: 10px;
    top: 50%;
    font-family: 'FontAwesome';
}

.article-question.collapsed {
    color: #333333;
    font-weight: 700;
    padding: 15px 0;
    border-bottom: 1px solid #9fa0a0;
}

.article-question.collapsed:hover {
    color: #3391e7;
}

.article-question.collapsed:after {
    content: url('https://sc.cfygxz.com/source/www/product/forex/new-version/forex_arrow.png');
    transform: rotate(0);
}

.article-answer {
    font-size: 1.6em;
    color: #333333;
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: Microsoft JhengHei;
}

.article-answer p {
    color: #333333;
    line-height: 1.8;
}

.article-answer strong {
    font-weight: bold;
}

.article-answer .padding-title {
    padding-top: 10px;
    display: block;
}

.article-answer a {
    color: #0096DB;
}

.article-answer a:hover {
    color: #3391e7;
}

.article-answer .pleft {
    padding-left: 16px;
}

.article-answer .border {
    border: 1px solid #CCCCCC;
    padding: 30px 20px;
    margin-top: 30px;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.in {
    height: auto;
}

/* End bg04 */

/* Begin bg05 */
.web-content .web-page.bg05 {
    background: url('//sc.cfygxz.com/source/www/about-us/new-version/bg4.png') no-repeat;
    background-size: 100% 100%;
    height: 945px;
    width: 100%;
    display: flex;
}

.web-content .web-page.bg05 .inner .tab-pagination {
    height: 60px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 40px;
    width: 450px;
}

.web-content .web-page.bg05 .inner .tab-pagination>.tab-bullet {
    position: relative;
    flex: 1;
    line-height: 1.9em;
    font-size: 2.7em;
    text-align: center;
    letter-spacing: 2px;
    color: #5c8bb7;
    opacity: 1;
    position: relative;
    z-index: 0;
    cursor: pointer;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    display: inline;
    width: 192px;
    height: 55px;
    border: 1px solid #5c8bb7;
    border-radius: 5px;
    margin: 0 2rem;
}

.web-content .web-page.bg05 .inner .tab-pagination>.tab-bullet.active {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.tab-container .tab-slider {
    text-align: center;
}

.tab-container .tab-slider .acc-type {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.tab-container .tab-slider .acc-type .Paper_Ac {
    background: url('//img.cfd139.com/source/www/about-us/new-version/Paper_Ac_bg.png') no-repeat;
    background-size: 100% 100%;
    max-width: 528px;
    height: 610px;
    width: 100%;
}

.tab-container .tab-slider .acc-type .Paper_Ac .title {
    padding: 40px 0 10px 0;
    color: #0085ff;
    font-weight: 700;
    font-size: 3.5em;
    letter-spacing: 0.1em;
}

.tab-container .tab-slider .acc-type .Paper_Ac a {
    background-size: 100% 100%;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 2em;
    color: #ffffff;
    font-weight: 600;
    line-height: 2.3em;
    display: flex;
    justify-content: center;
    font-family: Microsoft JhengHei;
    border: unset;
    border-color: unset;
    width: 225px;
    height: 48px;
    background: linear-gradient(180deg, rgba(74, 164, 247, 1) 0%, rgba(20, 98, 169, 1) 100%);
}

.tab-container .tab-slider .acc-type .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 100px 0;
}

.tab-container .tab-slider .acc-type .item ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.tab-container .tab-slider .acc-type .item li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
}

@keyframes left-btn-animation {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.check {
    animation: left-btn-animation 1s linear infinite;
    max-width: 33.6px;
    height: auto;
    width: 100%;
}

.tab-container .tab-slider .acc-type .item li span {
    overflow: hidden;
    display: block;
    font-size: 2.5em;
    font-weight: lighter;
    padding: 0 0 0px 15px;
    letter-spacing: 0.1em;
}

.tab-container .tab-slider .acc-type .Real_Ac {
    background: url('//img.cfd139.com/source/www/about-us/new-version/Real_Ac_bg.png') no-repeat;
    background-size: 100% 100%;
    max-width: 528px;
    height: 610px;
    width: 100%;
}

.tab-container .tab-slider .acc-type .Real_Ac a {
    background-size: 100% 100%;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 2em;
    color: #ffffff;
    font-weight: 600;
    line-height: 2.3em;
    display: flex;
    justify-content: center;
    font-family: Microsoft JhengHei;
    border: unset;
    border-color: unset;
    width: 225px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 172, 0, 1) 0%, rgba(255, 136, 0, 1) 100%);
}

.tab-container .tab-slider .acc-type .Real_Ac .title {
    padding: 40px 0 10px 0;
    color: #ffac00;
    font-weight: 700;
    font-size: 3.5em;
    letter-spacing: 0.1em;
}

.tab-container .tab-slider .step {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.ipage-component-step,
.ipage-component-step[data-type=dark],
.ipage-component-step[data-type=light] {
    background: url('//sc.cfygxz.com/source/www/homepage/s8_step_bg.png');
    background-size: 100% 100%;
    max-width: 755px;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 50px 0 30px 30px;
}

.ipage-component-step .ipage-component-step-ul {}

.ipage-component-step .ipage-component-step-ul .step-item-li {
    padding-bottom: 40px;
    position: relative;
}

.ipage-component-step .ipage-component-step-ul .step-item-li::before {
    z-index: 0;
    content: "";
    position: absolute;
    left: 24.5px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #8b8989;
}

.ipage-component-step .ipage-component-step-ul .step-item-li:last-child::before {
    height: 0;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .step-item {
    display: flex;
    align-items: center;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .no-content {
    align-items: center;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .step-item .step-item-index {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    background: #8b8989;
    margin-right: 16px;
    cursor: pointer;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .step-item .step-item-content {
    flex: 1;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .step-item .step-item-content .step-item-content-title {
    font-weight: lighter;
    font-size: 1.9em;
    letter-spacing: 0.1em;
    text-align: start;
}

.ipage-component-step .ipage-component-step-ul .step-item-li .step-item .step-item-content .step-item-content-detail {
    font-size: 14px;
    color: #a8acb1;
}

.ipage-component-step .ipage-component-step-ul .step-item-li.active .step-item .step-item-index {
    color: #ffffff;
    background: #ffab00;
}

.ipage-component-step .ipage-component-step-ul .step-item-li.active .step-item .step-item-content .step-item-content-title {
    font-weight: 600;
}

.ipage-component-step-images {
    position: absolute;
    right: -1%;
    top: -11%;
}

.ipage-component-step-images .step-item-image>img {
    max-width: 270px;
    width: 100%;
    height: auto;
}

.ipage-component-step-images .img-3 {
    position: relative;
}

.ipage-component-step-images .img-3 .grade-cust {
    position: absolute;
    top: 125px;
    left: -50px;
}

.ipage-component-step-images .img-3 .grade-cust>img {
    width: 387px;
    height: auto;
}

.tab-container .tab-slider .btn-open {
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tab-container .tab-slider .btn-open a {
    background-color: transparent;
    border: 1px solid;
    background-size: 100% 100%;
    border-color: #ffffff;
    width: 246px;
    height: 45px;
    margin: 0 10px;
    border-radius: 4px;
    font-size: 2em;
    color: #ffffff;
    font-weight: 600;
    line-height: 2.2em;
    display: flex;
    justify-content: center;
    font-family: Microsoft JhengHei;
}

.tab-container .tab-slider .btn-open a:first-child:hover {
    background-color: #ffffff;
    border: 1px solid;
    background-size: 100% 100%;
    border-color: #ffffff;
    color: #063584;
}

.tab-container .tab-slider .btn-open a:last-child {
    border: unset;
    border-color: unset;
    width: 180px;
    height: 45px;
    background: linear-gradient(180deg, rgba(255, 172, 0, 1) 0%, rgba(255, 136, 0, 1) 100%);
}

.btn-container {
    position: absolute;
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    bottom: 483px;
    z-index: 99;
}

.btn-container .icon {
    /* position: relative; */
}

.btn-container>img {
    max-width: 277px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.btn-container a>img {
    max-width: 277px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.App_code {
    overflow: hidden;
    position: absolute;
    width: 100px;
}

.App_code img {
    width: 100px;
    height: 100px;
}

.App_code span {
    overflow: hidden;
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid #000000;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-left: 6px solid rgba(0, 0, 0, 0);
}

.App_code.ios-CFD {
    display: none;
    left: 13%;
    bottom: -106px;
}

.App_code.android-CFD {
    display: none;
    bottom: -106px;
    left: 42%;
}

/* End bg05 */
/* Begin bg06 */
.bg06 {
    height: 520px;
}


.bg06 .inner .more-product {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.bg06 .inner .more-product div {
    background: url('https://sc.cfygxz.com/source/www/product/forex/new-version/bg6_bg.png') no-repeat;
    background-size: 100% 100%;
    max-width: 356px;
    width: 100%;
    height: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 15px 25px 15px;
}

.bg06 .inner .more-product div a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 2.2em;
    font-family: 'Microsoft JhengHei';
    font-weight: 700;
    margin-bottom: 10px;
}

.bg06 .inner .more-product div p {
    color: #ffffff;
    font-size: 1.3em;
    font-family: 'Microsoft JhengHei';
}

.box {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
}

.box .promotion-panel {
    position: absolute;
    background: url(//sc.cfygxz.com/source/www/product/index/promo_bg.png) no-repeat;
    background-size: 100% 100%;
    bottom: -45px;
    max-width: 1107px;
    width: 100%;
    height: 172px;
    margin: 0 auto;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.promotion-panel p {
    font-size: 2.8em;
    color: #ffffff;
    font-weight: bolder;
    /* letter-spacing: 0.1em; */
    font-family: Microsoft JhengHei;
}

.promotion-panel a {
    margin: 0 10px;
    border-radius: 4px;
    font-size: 2em;
    color: #ffffff;
    font-weight: 600;
    line-height: 2.2em;
    display: flex;
    justify-content: center;
    font-family: Microsoft JhengHei;
    border: unset;
    border-color: unset;
    width: 208px;
    height: 45px;
    background: linear-gradient(180deg, rgba(255, 172, 0, 1) 0%, rgba(255, 136, 0, 1) 100%);
}

.forex-icon .icon-bg:hover {
    transform: scale(1.05);
}

.more-product .commodities:hover,
.more-product .indices:hover,
.more-product .stock:hover {
    transform: scale(1.05);
}

/* End bg06 */
@media (max-width: 1400px) {
    .inner {
        width: 90%
    }
}

/* For Mobile Version */
@media screen and (max-width: 799px) {
    html {
        font-size: 4rem;
    }

    .main {
        overflow: hidden;
    }

    .pc {
        display: none;
    }

    .m {
        display: block;
    }

    .main-header {
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
    }

    .m-header {
        position: absolute;
        z-index: 999;
        top: 1rem;
        width: 100%;
        height: 1rem;
        border-bottom: unset;
        background-color: #ffffff;
    }

    /* navigation bar for mobile */
    .menu {
        width: 285px;
        background: #093965;
        position: relative;
    }

    .menu .head {
        padding-top: 0.4rem;
        font-size: 0;
        padding-bottom: 0.4rem;
        text-align: right;
    }

    .menu .head span {
        margin-right: 0.2rem;
        display: block;
        display: inline-block;
        background: url(//sc.cfygxz.com/source/www/homepage/m/close_btn.png);
        background-size: 100% 100%;
        width: 0.36rem;
        height: 0.37rem;
    }

    .menu .head a {
        margin: 0 auto;
        display: block;
        font-size: 0.32rem;
        width: 215px;
        background-color: #0096dc;
        color: #fff;
        text-align: center;
        line-height: 0.7rem;
        margin-top: 0.2rem;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: 0.01rem solid transparent;
        border-radius: 0.06rem;
    }

    .menu .head a:active {
        background-color: #0088c8;
    }

    .menu .expmenu li {
        position: relative;
        background: #ffffff;
        border-top: 0.05rem solid #093965;
        border-bottom: 0.05rem solid #093965;
    }

    .menu .expmenu li a {
        color: #093965;
        font-size: 0.4rem;
        height: 0.89rem;
        line-height: 0.89rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: Microsoft JhengHei;
        position: relative;
        font-weight: 700;
        border-top: unset;
    }

    .menu .expmenu li a p {
        width: 65%;
        padding-left: 12%;
    }

    .menu .expmenu li i.limit-time-icon {
        position: absolute;
        background: url(//sc.cfygxz.com/source/www/homepage/m/limit_time_icon.png) no-repeat;
        background-size: 100% 100%;
        width: 0.94rem;
        height: 0.38rem;
        top: unset;
        margin-right: 0;
        left: 2.4rem;
        animation: lighting 6s infinite;
    }

    .menu .expmenu li i.new-icon {
        position: absolute;
        background: url(//sc.cfygxz.com/source/www/homepage/m/new_icon.png) no-repeat;
        background-size: 100% 100%;
        width: 0.94rem;
        height: 0.38rem;
        top: unset;
        margin-right: 0;
        left: 2.4rem;
    }

    .menu .expmenu li:before {
        border-left: 0.1rem solid transparent;
        content: "";
        height: 0.89rem;
        left: 0;
        position: absolute;
        top: 0;
        -webkit-transition: border-color 0.3s ease;
        transition: border-color 0.3s ease;
    }

    .menu .expmenu li i {
        display: inline-block;
        position: relative;
        top: 0.2rem;
        margin-right: 0.1rem;
    }

    .menu .expmenu li span {
        background-image: url(//sc.cfygxz.com/source/www/homepage/m/plus_icon.png);
        width: 0.36rem;
        height: 0.36rem;
        background-size: 100% 100%;
        margin-right: 0.25rem;
    }

    .menu .expmenu li .down,
    .menu .expmenu li span {
        display: inline-block;
        background-image: url(//sc.cfygxz.com/source/www/homepage/m/plus_icon.png);
        width: 0.36rem;
        height: 0.36rem;
        background-size: 100% 100%;
        background-position: unset;
        margin-right: 0.25rem;
    }

    .menu .expmenu li .down {
        background-image: url(//sc.cfygxz.com/source/www/homepage/m/minus_icon.png);
        width: 0.36rem;
        height: 0.06rem;
    }

    @keyframes lighting {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    .menu .expmenu li ul {
        display: none;
    }

    .menu .expmenu li ul li a {
        display: block;
        border-top: none;
        border-bottom: none;
        margin: 0 auto;
        padding-left: 0.8rem;
        height: 0.7rem;
        line-height: 0.7rem;
        background-color: #093965;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #ffffff;
        font-family: Microsoft JhengHei;
        font-weight: 100;
        font-size: 0.32rem;
    }

    .menu .expmenu li ul li a:active {
        background: #dfdfdf;
    }

    /* .menu .expmenu li ul li:first-child {
      border-top: 0.01rem solid #eee;
    } */

    .menu .expmenu .fifth p,
    .menu .expmenu .first p,
    .menu .expmenu .forth p,
    .menu .expmenu .second p,
    .menu .expmenu .third p {
        width: 87%;
    }

    .menu .expmenu>li.current:before {
        border-color: #ffffff;
    }

    .menu .expmenu>li.current a p {
        color: #0958a2;
    }

    .menu .bottom_btn {
        border-top: unset;
        text-align: center;
        margin-bottom: 1rem;
    }

    .menu .bottom_btn a:first-child {
        background: linear-gradient(180deg, rgba(255, 172, 0, 1) 0%, rgba(255, 136, 0, 1) 100%);
        border: unset;
        margin-top: 1rem;
    }

    .menu .bottom_btn a {
        width: 3.6rem;
        margin: 0.5rem auto;
        height: 0.77rem;
        line-height: 0.77rem;
        display: block;
        color: #ffffff;
        font-size: 0.35rem;
        border: 0.01rem solid #ffffff;
        border-radius: 0.06rem;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        font-family: Microsoft JhengHei;
        font-weight: 700;
        letter-spacing: 0.02rem;
    }



    /* .menu .bottom_btn a:active {
      background: #035;
      color: #fff;
      border: 0.01rem solid #035;
    } */

    .panel {
        /* height: 100%; */
        position: relative;
    }

    .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        overflow: auto;
        z-index: 0;
        display: none;
        padding-bottom: 1rem;
    }

    .slideout-menu-left {
        left: 0;
    }

    .slideout-menu-right {
        right: 0;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        padding-bottom: 0;
    }

    .slideout-open,
    .slideout-open .slideout-panel,
    .slideout-open body {
        overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
    }

    .menu .expmenu li ul li p {
        border-top: none;
        border-bottom: none;
        margin: 0 auto;
        padding-left: 0.8rem;
        height: 0.7rem;
        line-height: 0.7rem;
        color: #fecd69;
        font-family: Microsoft JhengHei;
        font-weight: 100;
        font-size: 0.32rem;
    }

    .menu .expmenu li ul li.sub-menu-nav {
        background: #093965;
        border-top: unset;
    }

    .menu .expmenu li ul li.sub-menu-nav ul.sub-child2 {
        display: block !important;
    }

    .menu .expmenu li ul li ul.sub-child2 li {
        background: #093965;
        border-top: unset;
    }

    .menu .expmenu li ul li ul.sub-child2 li a {
        padding-left: 0rem;
        height: 0.4rem;
        line-height: 0.4rem;
    }


    /*End navigation bar for mobile */
    .web-banner {
        background: url("https://sc.cfygxz.com/source/www/product/forex/m/topbanner.png") no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 6.64rem;
        overflow: hidden;
        position: relative;
    }

    .billboard {
        background: url("https://sc.cfygxz.com/source/www/about-us/m/banner_bg.png") no-repeat;
        background-size: 100% 100%;
        height: 1.94rem;
        width: 5.6rem;
        position: absolute;
        padding: 0 0 0 0.5rem;
        top: 5.65rem;
        left: 0.15rem;
        z-index: 99;
        display: flex;
        align-items: baseline;
        flex-flow: column;
        justify-content: center;
    }

    .billboard .title {
        font-size: 0.55rem;
        margin: 0;
    }

    .billboard .hr1 {
        border: 1px solid #ffffff;
        width: 80%;
        margin: 0.1rem 0;
    }

    .billboard .subtitle {
        font-size: 0.35rem;
    }

    .main-title {
        font-size: 0.4rem;
        margin: 1rem 0 0.1rem 0;
    }

    .swiper-container {
        height: 5rem !important;
    }

    .swiper-slide {
        display: flex;
        width: 5.5rem !important;
    }

    .forex-icon {
        display: flex;
        justify-content: start;
    }

    .icon-bg {
        max-width: 2.67rem;
        height: 2.61rem !important;
        padding: 0.1rem 0.3rem;
    }

    .odd-bg .icon1 {
        max-width: 0.9rem;
    }

    .even-bg .icon2 {
        max-width: 0.79rem;
    }

    .odd-bg .icon3 {
        max-width: 1.04rem;
    }

    .even-bg .icon4 {
        max-width: 0.78rem;
    }

    .main-pros {
        font-size: 0.3rem;
    }

    .sub-pros {
        font-size: 0.18rem;
    }

    .more-details {
        font-size: 0.18rem;
    }

    .bg02 {
        background: url('//sc.cfygxz.com/source/www/homepage/m/s2_bg.png') no-repeat;
        background-size: 100% 100%;
        height: 3.58rem;
        width: 100%;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .bg02 .inner .company {
        display: flex;
        height: 100%;
        flex-flow: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    .bg02 .inner .company .company-reward-block img {
        max-width: 1.8rem;
        width: 100%;
        height: auto;
        margin: 0 10px;
    }

    .company-reward-block {
        margin: 0 auto;
    }

    .bg02 .inner .company .company-reward-block .pc {
        display: none;
    }

    .bg02 .inner .company .company-reward-block .m {
        display: flex;
    }

    .bg02 .inner .company .company-status-block .total-cust .subtotal,
    .bg02 .inner .company .company-status-block .status-year .subtotal {
        font-size: .65rem;
    }

    .bg02 .inner .company .company-status-block .total-cust .subtotal .num,
    .bg02 .inner .company .company-status-block .status-year .subtotal .num {
        font-size: .65rem;
    }

    .bg02 .inner .company .company-status-block .total-cust .subtotal-title,
    .bg02 .inner .company .company-status-block .status-year .subtotal-title {
        font-size: .23rem;
    }

    .bg02 .inner .company .company-status-block .total-cust .subtotal .icon {
        width: 0.27rem;
        height: 0.27rem;
    }

    .bg02 .inner .company .company-status-block .line {
        margin: 0;
    }

    .sub-title {
        font-size: 0.23rem;
        letter-spacing: 0;
    }

    .bg03 .left-content .CFD-pros>div img {
        width: 0.41rem;
        height: 0.41rem;
    }

    .pro_content {
        font-size: 0.28rem;
    }

    .bg03 .left-content a {
        font-size: 0.35rem;
        line-height: 0;
        align-items: center;
        margin: 0 auto;
        width: 3rem;
        height: 0.76rem;
    }

    .bg03 {
        flex-flow: column-reverse;
    }

    .right-content .device-CFD .s4_phone {
        width: 2.07rem;
        left: 0.2rem;
    }

    .right-content .device-CFD .s4_macbook {
        width: 6.08rem;
    }

    .bg03 .left-content .CFD-pros {
        display: flex;
        flex-wrap: wrap;
    }

    .bg03 .left-content .CFD-pros .pro4 {
        padding-left: unset;
    }

    .app-platform-panel {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.45rem;
        width: 100%;
    }

    .app-platform-panel a {
        background: url(//sc.cfygxz.com/source/www/homepage/m/app_panel_bg.png);
        background-size: 100% 100%;
        display: flex;
        width: 3.39rem;
        height: 1.07rem;
        align-items: center;
        justify-content: center;
        margin: 0 0.2rem;
    }

    .app-platform-panel a img {
        width: 0.43rem;
        height: 0.54rem;
        margin-right: 0.2rem;
    }

    .app-platform-panel a img:nth-child(2) {
        width: 0.48rem;
        height: 0.54rem;
    }

    .app-platform-panel a p {
        color: #ffffff;
        font-family: Arial;
        font-size: 0.25rem;
        font-weight: 700;
    }

    .app-platform-panel a p span {
        color: #ffffff;
        font-family: Microsoft JhengHei;
        font-size: 0.18rem;
        font-weight: lighter;
    }

    .btn-container-fixed {
        margin-bottom: 0;
    }

    .article-question {
        font-size: 0.28rem;
    }

    .article-answer {
        font-size: 0.23rem;
    }

    .article-question:after {
        content: url('https://sc.cfygxz.com/source/www/product/forex/m/forex_arrow.png');
    }

    .article-question.collapsed:after {
        content: url('https://sc.cfygxz.com/source/www/product/forex/m/forex_arrow.png');
    }

    .bg06 {
        height: auto;
    }

    .bg06 .inner .more-product div a {
        font-size: 0.4rem;
        margin-bottom: 0.05rem;
    }

    .bg06 .inner .more-product div p {
        font-size: 0.25rem;
        text-align: center;
    }

    .bg06 .inner .more-product {
        flex-flow: column;
    }

    .bg06 .inner .more-product div {
        margin: 0 auto 0.2rem;
        max-width: 6.5rem;
        height: 1.6rem;
        padding: 0.1rem 0.15rem 0.25rem 0.15rem;
    }

    .promotion-panel p {
        font-size: 0.25rem;
        text-align: left;
    }

    .promotion-panel a {
        font-size: 0.3rem;
        width: 2.28rem;
        height: 0.55rem;
        line-height: 0;
        align-items: center;
    }

    .box {
        padding: 0 0 0.3rem 0;
    }

    .box .promotion-panel {
        position: relative;
        background: url(//sc.cfygxz.com/source/www/product/forex/m/promo_bg.png) no-repeat;
        background-size: 100% 100%;
        max-width: 7.05rem;
        height: 1.1rem;
        bottom: 0;
        justify-content: space-evenly;
        padding: 0 0.15rem;
    }

}